# Ignore everything
*

# But not these (root level)
!.gitignore
!.gitattributes
!/www/**
!/.github/**
!/releases.txt

# Allow directories themselves to be traversed
!*/

# Re-allow the file types inside any folder
!**/*.example
!**/*.md
!**/*.asm
!**/*.sh
!**/LICENSE

# Ignore potential prebuilt bundles
bundle-*
bundle-*/